@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html::before {
  position: fixed;
  inset: 0;
  z-index: -1;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-family: Helvetica;
  opacity: 0.6;
  background: rebeccapurple;
  color: white;
  padding: 4px 8px;
  border-radius: 4px; 
}
h1 {text-align:center ; 
    font-weight:bold ; 
    font-family:'Press Start 2P',cursive;
    color:lemonchiffon;
    font-size: 30px;
    color: lemonchiffon;
    text-shadow: 2px 1px 0px tan;
    letter-spacing: 4px;
}

.decoration {
    text-align: center;
    color: #FEE28F;
  text-shadow:0px 0px 3px lemonchiffon;
    font-size: 26px;
    margin: 10px 0 20px;
}
.subtitle {
    text-align: center;
    font-size: 10px;
  text-shadow:1px 1px 5px lemonchiffon;
    color:sienna;
    margin-top: -15px;
    letter-spacing: 2px;
}
ul { list-style-type:none;}

p {font-size:12 px ;
  font-family:monospace; text-align : center ;
   color :sienna ;text-shadow:1px 1px 5px lemonchiffon}

body {background-color:lightblue; border:5px solid lemonchiffon;
      border-radius: 12px; }

li {display:inline; padding:21px ;}

marquee {color:sienna ; font-size: 29px}

img {display:block; margin: auto ;
     width:300px ; 
     height : 250px ; 
     align: center; 
    }

nav {display:flex; justify-content: center; gap: 10px}
nav a {
    display: block;
  font-family:'Press Start 2P',cursive;;
    width: 200px;
    text-align: center;
    margin: 12px auto;
    padding: 12px 20px;

    text-decoration: none;
    color: cadetblue;
    background-color: #fff6d9;
    border: 2px solid #e5cf8f;
    border-radius: 12px;
    box-shadow: 3px 3px 0px #d6c181;

    transition: 0.2s;
}

a:hover {
    background-color: #f3df9f;
    color: white;
    transform: translateY(-4px);
}
